name: Build and Release Authn123Pan-forWP

on:
  push:
    tags:
      - 'v*'

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Zip Folder
        run: zip -r Authn123Pan-forWP-${{ github.ref_name }}.zip For-WordPress/

      - name: Create Release and Upload Asset
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref_name }}
          name: Authn123Pan-forWP ${{ github.ref_name }}
          files: |
            Authn123Pan-forWP-${{ github.ref_name }}.zip
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}